@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
// Colors
$whitecolor: #ffffff;
$primaryaccentcolor: #0de7ef;
$darkcolor: #00263e;

// Breakpoints
$small: 640px;
$medium: 1025px;
$large: 1440px;

// Fonts
$fontnormal: "Roboto", helvetica, sans-serif;

// Aspect Ratios
$aspect-square: 100%;

// Widths
$content-width: 1360px;
